


<form action="/results" method="POST">

	<fieldset id="question1">
		<label for="1">Which of these words describes you best?</label><br>
		<input type="radio" name="1" value="w">Witty<br>
		<input type="radio" name="1" value="s">Practical<br>
		<input type="radio" name="1" value="j">Anxious<br>
		<input type="radio" name="1" value="h">Loud
	</fieldset>
	
	<hr>

	<fieldset id="question2">
		<label for="2">What do you think of illegal things?</label><br>
		<input type="radio" name="2" value="h">They're illegal for a reason<br>
		<input type="radio" name="2" value="s">It depends on what you're doing<br>
		<input type="radio" name="2" value="w-j">The law? I'm not entirely sure I know what that is
	</fieldset>

	<hr>

	<fieldset id="question3">
		<label for="3">How's your anger?</label><br>
		<input type="radio" name="3" value="w-h">Explosive<br>
		<input type="radio" name="3" value="j">Average<br>
		<input type="radio" name="3" value="s">I'm more patient than a snail caught in snail-traffic
	</fieldset>

	<hr>

	<fieldset id="question4">
		<label for="4">There's a dead body in your garage. You:</label><br>
		<input type="radio" name="4" value="w">Dispose of the body immediately<br>
		<input type="radio" name="4" value="s-h">Call the cops<br>
		<input type="radio" name="4" value="j">Panic
	</fieldset>

	<hr>
	
	<fieldset id="question5">
		<label for="5">At parties, you:</label><br>
		<input type="radio" name="5" value="j-h">Always around people<br>
		<input type="radio" name="5" value="w">Drink alone<br>
		<input type="radio" name="5" value="s">Are focused on making sure everyone is happy 
	</fieldset>

	<hr>


	<hr>

	<br>
	<input type="submit" value="Submit"></input>

</form>